<div class="user-profile">
  <div class="wrapper">
    <div class="profile">
      <img
        src="src/assets/users_logo.jpeg"
        class="thumbnail">
      <h3 class="name">{{(activeUser$ | async).name}}</h3>
      <p class="title">{{(activeUser$ | async).email}}</p>
      <br>
      <button type="button" class="btn" routerLink="/liked-posts">Liked Posts</button>
    </div>
  </div>

  <div class="my-posts mb-3">
    <div *ngFor="let post of myPosts">
      <post [post]="post"></post>
    </div>
  </div>
</div>
