<div class="about-us-container">
  <div class="about-section first-about-section">
    <h2>What is Makeup Community?</h2>

    <p>The Makeup Community was launched in 1999 as a small group of devoted beauty consumers.
      Since then it has evolved into a larger beauty social network and information portal for beauty, skincare, and
      lifestyle.
    </p>
  </div>

  <div class="about-section">
    <h2>What we offer</h2>

    <p>Makeup Community has a large, comprehensive product review blog that allows consumers and beauty lovers yp share
      their unedited thoughts and opinions about products, brands, and , makeup influencers.
      As of summer 2020, there are more than 2.7 million posts of 187,000 beauty and skincare products written by beauty
      enthusiasts worldwide.
    </p>
  </div>

  <div class="about-section">
    <h2>Why you should join</h2>

    <p>
      Makeup Community has a huge message board for discussions on the topics of makeup, bath and body, skincare,
      fragrance, hair, fitness, nails, FOTD, and cosmetic procedures.
      Makeup Community remains a community dedicated to providing consumer to consumer beauty information.

      For inquiries, please contact us at info@MakeupAlley.com
    </p>
  </div>

  <br>
  <img src="src/assets/about_image.jpeg" />
</div>