@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

.fa-ellipsis-h:before {
  content: "\f141";

}

.fa-ellipsis-v:before {
  content: "\f142";
}

.heart-div {
  margin-top: 5px;
}

.fa-heart-o,
.fa-heart {
  color: red;
  cursor: pointer;
}
